.pastel-pink{
    background-color: #e77397;
    color: black;
}

.w3-content{
    max-width: 1040px
}

.gradient-bg {
    height: 100%;
    background: linear-gradient(to right, #87d1d7, #8673EB, #e7c6f7);
    color: white;
}

.margin-bar {
    margin-top: 5px;
}

.bar-purple {
    background-color: #b19cd8;
    color: white;
}

.playlist-color {
    background-color: #1db954;
    color: white;
}

.stream-color {
    background-color: #6441a5;
    color: white;
}

.youtube-color {
    background-color: #cc0000;
    color: white;
}

.container {
    height: 250px;
    position: relative;
  }

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center-text {
    left: 35%;
}

.video-container {
    overflow: hidden;
    position: relative;
    width:100%;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}